---
import ExperienceItem from '../common/ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Enero 2025 - Actualmente',
    title: 'Apprentice Business – Growth CRM Automation',
    company: 'Rappi S.A.S',
    description:
      'Apoyo en el desarrollo y mantenimiento de soluciones tecnológicas enfocadas en la automatización y optimización de la relación con los clientes dentro del área de Growth CRM Automation.',
    link: '',
  },
];
---

<ol class='relative mt-16'>
  {
    EXPERIENCE.map((experience) => (
      <li class=''>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
