---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Enero 2025 - Actualmente',
    title: 'Analista y Desarrollador de Software',
    company: 'Rappi S.A.S',
    description:
      'Apoyo en el desarrollo y mantenimiento de soluciones tecnológicas, aprendiendo y contribuyendo al crecimiento del equipo.',
    link: '',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
